pipeline/Compare files.json
{
	"name": "Compare files",
	"properties": {
		"activities": [
			{
				"name": "Get Source File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SampleInputdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"contentMD5",
						"itemName",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "Lookup File Defination",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "File_Defination",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check File Hearder Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Source File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup File Defination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Source File Metadata').output.columnCount,json(string(activity('Lookup File Defination').output.firstRow.File_Columns)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait_No_of_Column",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "vheadercnt",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait_No_of_Column",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vcount",
								"value": "'1'"
							}
						}
					]
				}
			},
			{
				"name": "Check File Headers",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Source File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup File Defination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Source File Metadata').output.structure,json(string(activity('Lookup File Defination').output.firstRow.Schema_Text)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait Column Sequence Check",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "vfileheader",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait Column Sequence Check",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vheader",
								"value": "'1'"
							}
						}
					]
				}
			},
			{
				"name": "Check File Name",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Source File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup File Defination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Source File Metadata').output.itemName,activity('Lookup File Defination').output.firstRow.Object_Name)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Check FileName",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "vfilename",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vfilename",
								"value": "'1'"
							}
						}
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check File Hearder Count",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Check File Headers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Check File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('vcount'),variables('vfilename')),equals(variables('vfilename'),variables('vheader')))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Final_Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"vheader": {
				"type": "String"
			},
			"vcount": {
				"type": "String"
			},
			"vfilename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Archive"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}